<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Inscription</h5>
        </div>
        <div class="modal-body">
            <div class="d-grid gap-0">
                <h5><strong>Critères d’inscription aux examens yudansha</strong></h5>
                <p>L’âge minimum requis afin de se présenter aux examens fédéraux est fixé à 16 ans</p>

                <p>Temps de pratique nécessaire pour se présenter aux examens :</p>
                <ul>
                    <li>Être 1er kyu depuis minimum 12 mois.</li>
                    <li>Shodan :  4 à  5 ans depuis le début de la pratique.</li>
                    <li>Nidan  :  6 à  7 ans depuis le début de la pratique, soit 2 ans minimum depuis shodan.</li>
                    <li>Sandan :  9 à 10 ans depuis le début de la pratique, soit 3 ans minimum depuis nidan.</li>
                    <li>Yondan : 13 à 14 ans depuis le début de la pratique, soit 4 ans minimum depuis sandan.</li>
                </ul>

                <p>Seules les heures de stages organisés par l’AFA sont désormais prises en compte pour les quotas requis pour se présenter aux examens :</p>
                <ul>
                    <li>Shodan : 40 h de stages fédéraux depuis le 6ème kyu.</li>
                    <li>Nidan  : 20 h de stages fédéraux depuis shodan.</li>
                    <li>Sandan : 30 h de stages fédéraux depuis nidan.</li>
                    <li>Yondan : 40 h de stages fédéraux depuis sandan.</li>
                </ul>

                <p>En cas d’échec, le candidat pourra se représenter lorsqu’il aura effectué au minimum 10h de stages fédéraux.</p>

                <p>La participation à un examen fédéral requiert en outre que le candidat soit titulaire du grade Aïkikaï précédent. Par exemple, pour présenter l'examen nidan, il faut être shodan Aïkikaï, et ainsi de suite.</p>

                <p>La Commission Technique (CT) se réserve toutefois le droit d’examiner des cas particuliers qui dérogeraient à l’un ou l’autre de ces critères (p.ex. impossibilité d'obtenir le quota d'heures de stages pour raisons professionnelles, etc....).</p>

                <p>Les frais d'inscription aux examens (25 €) sont payables par anticipation, sur le compte de l'AFA, n° BE96 7925 6716 4005, avec la communication "examen" et le nom du candidat.</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
    </div>
</div>
