{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des Shihan</h1>
    <div class="container col col-lg-4">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for shihan in data.Shihan %}
            <tr class="table-active">
                <td class="align-middle">{{ loop.index }}</td>
                <td class="align-middle">{{ shihan.getMemberFirstname|title }}</td>
                <td class="align-middle">{{ shihan.getMemberName|title }}</td>
                <td class="align-middle">{{ shihan.getMemberLastTitle.getTitleDate|date('d/m/Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
