<html lang="fr">
    <head>
        <title>{{ subject }}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <p>{% if data.Member.getMemberSex == 1 %}Cher pratiquant,{% else %}Chère pratiquante,{% endif %}</p>
            <p>Par la présente, nous vous prions de trouver ci-joint votre formulaire de renouvellement de licence fédérale qui vient à échéance le {{ data.Member.getMemberDeadline(true) }}</p>
            <p>Pour votre information, ce dernier a également été envoyé au correspondant de votre club.</p>
            <p>Afin de vous garantir la continuité de votre "couverture assurance" pour une période de 12 mois, nous vous invitons à retourner ce dernier, dûment complété et signé, à votre gestionnaire de club, et à procéder au paiement de votre affiliation via votre club et ce, dans les meilleurs délais.</p>
            <p>Pour rappel, le montant de celle-ci s'élève à {% if data.Member.getMemberIsChild %}30€{% else %}35€{% endif %}.</p>
            <p>Nous insistons également sur l’exactitude de toutes les données qui figurent dans votre formulaire, notamment vos données personnelles, et sur l’importance de la présence de votre signature ou de votre représentant légal <strong>dans le paragraphe relatif à la déclaration sur l’honneur et en fin de document</strong>.</p>
            <p>Pour rappel, toute donnée manquante/erronée peut être ajoutée/modifiée à tout moment sur le formulaire de renouvellement ou dans l’onglet « Espace membre – Fiche personnelle » de l’outil de gestion.</p>
            <p>Pour rappel, le montant de celle-ci s'élève à {% if data.Member.getMemberIsChild %}30€{% else %}35€{% endif %}.</p>
            <p>Nous vous remercions par avance pour votre suivi, et restons à votre entière disposition pour tout renseignement complémentaire.</p>
            <p><br />Cordialement</p>
        </div>
    </body>
</html>
