<p>Chère, Cher dojo-cho,</p>
<p>Nous avons bien reçu la candidature de votre élève {{ member.getMemberFirstname|title }} {{ member.getMemberName|title }} pour la prochaine session d’examens yudansha.</p>
<p>Cette candidature ne peut cependant pas être acceptée pour la raison suivante :</p>
<p>{{ reason }}</p>
<p>N’hésitez pas à me recontacter pour toute éventuelle question à ce sujet.</p>
<p>Cordialement,</p>
<p>
    Pour la Commission Technique,<br />
    Frédéric Ernould,<br />
    Secrétaire
</p>

