<p>Cher candidat, chère candidate,</p>
<p>A la suite de la demande de ton dojo-cho, ta candidature pour les prochains examens yudansha a bien été enregistrée.</p>
<p>
    Ces examens se dérouleront le samedi {{ dateExam|date('d/m/Y') }} à l’adresse ci-dessous<br />
    {{ address }}<br />
    {{ zip }} {{ city }}
</p>
<p>L'horaire de passage te sera confirmé prochainement.</p>
<p>Tu trouveras ci-joint les consignes relatives au déroulement des examens, que je t’invite à lire attentivement.</p>
<p>Au cas où ils n’auraient pas déjà été versés par l’intermédiaire de ton dojo, je te rappelle que les frais d'inscription aux examens (25 €) sont payables par anticipation, sur le compte de l'AFA, n° BE96 7925 6716 4005, avec la communication "examen" et le nom du candidat.</p>
<p>Dans l'attente du plaisir de te rencontrer, je te prie d'agréer mes cordiales salutations.</p>
<p>
    Pour la CT,<br />
    Frédéric Ernould,<br />
    Secrétaire
</p>

