{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="text-center"><img class="img-fluid" src="{{ asset('images/logo-afa-manager.svg') }}" alt="Logo"></div>
{% endblock %}

{% block javascripts %}
{% endblock %}
