{% extends 'base.html.twig' %}

{% block title %}
    AFA-Manager
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container col col-lg-4">
        <h1 class="text-center">Liste des clubs {% if access.check('Club-ClubAdd') %}<button class="btn btn-sm btn-light" onclick="load('{{ path('club-clubAdd') }}', 'popup')" onmouseover="this.style.cursor='pointer'">Ajouter</button>{% endif %}</h1>

        {% if access.check('Club-ListOpen') or access.check('Club-ListClose') %}
            <table id="clubList" class="table table-sm table-hover"></table>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if access.check('Club-ListOpen') %}
        <script type="text/javascript">
            load('{{ path('club-listOpen') }}', 'clubList')
        </script>
    {% elseif access.check('Club-ListClose') %}
        <script type="text/javascript">
            load('{{ path('club-listClose') }}', 'clubList')
        </script>
    {% endif %}
{% endblock %}
