<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Imprimer ou valider impression des timbres</h5>
        </div>
        <div class="modal-body">
            <div class="d-grid gap-0">
                <a class="btn btn-primary" href="{{ path('secretariat-printStampView', {'club': data.Club.getClubId}) }}">Imprimer les timbres</a>
            </div>
            <div class="d-grid gap-0">
                <a class="btn btn-primary" href="{{ path('secretariat-printStampValidate', {'club': data.Club.getClubId}) }}">Valider l'impression des timbres</a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Quitter</button>
        </div>
    </div>
</div>
